body{

}
.container{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.card{
    width: 500px;
    height: 500px;
    color: black;
    text-align: center;

}
.card img{
    width: 500px;
}
.card .product-name, .product-price{
    color: black;
    font-size: 1.5rem;
    margin-top: 10px;
    opacity: 0.8;
}

