body {
    margin: 0;
    margin-top: 180px;
    /*margin-bottom: 210px;*/
    padding: 0;
    background-color: #ededed;
}
.navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 5px;
    z-index: 1000;
}
.navigation-bar-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-container1{
    min-width: 85px;
}
.top-container2{
    display: flex;
    text-align: center;
}
.top-container3{
    min-width: 100px;
}
.navbar-logo {
    width: 250px;
    margin: 0;
    padding: 0;
}
.navigation-bar-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
}
.navigation-bar-bottom a{
    opacity: 0.8;
}
.nav-button{
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    color: black;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    padding: 0 10px;
}
.nav-button:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
} 
.nav-button:hover:after{
    width: 100%;
    opacity: 1;
}
.navigation-bar ul{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
}
.navigation-bar a{
    text-decoration: none;
    opacity: 0.8;
    color: black;
}
.navigation-bar .list li{
    display: inline-block;
    padding: 15px 10px;
}
.navigation-bar .list a:hover{
    opacity: 1;
}



/*nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.hamburger-menu {
    display: none;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    border-radius: 3px;
}


@media screen and (max-width: 800px){
    .navigation-bar-bottom .nav-button{
        display: none;
    }
    .ham-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .ham-nav a{
        display: block;
    }
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
}


