<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />*@
    
    <link rel="stylesheet" href="~/css/LayoutNavBar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/LayoutFooter.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!--header start-->
    <header>
        <div class="navigation-bar">

            <div class="navigation-bar-top">

                <div class="top-container1">

                </div>

                <div class="top-container2">
                    <img src="~/Images/NavbarLogo2.png" class="navbar-logo">
                </div>


                <div class="top-container3">

                    <ul class="list">
                        <li>
                            <a asp-page="/Login"><i class="fa-solid fa-user"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-sharp fa-solid fa-basket-shopping"></i></a>
                        </li>
                    </ul>

                </div>   
                
            </div>

            <div class=" navigation-bar-bottom">  
                
                <nav>
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>

                    <a class="nav-button" , asp-page="">NEW IN</a>
                    <a class="nav-button" , asp-page="">BRANDS</a>
                    <a class="nav-button" , asp-page="">SNEAKERS</a>
                    <a class="nav-button" , asp-page="">ACCESSORIES</a>
                    <a class="nav-button" , asp-page="">INFO</a>
                </nav>

                @*<nav class="ham-nav">
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                </div>                

            </div>

        </div>
    </header>
    <!--header end-->

    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const navbarLinks = document.querySelectorAll('nav a');

        hamburgerMenu.addEventListener('click' , () =>{
            navbarLinks.forEach(link => {
                link.classList.toggle('nav-button');
            });
        });
    </script>

    <!--body start-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--body end-->

    <!--footer start-->
    <footer class="footer">


        <div class="social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>

        <ul class="list">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
        <p class="copyright">
            Sneaker Wave Store ©
        </p>


    </footer>
    <!--footer end-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>