@page
@model IndexModel
@{
    ViewData["Title"] = "Sneaker Wave";
}

<link rel="stylesheet" href="~/css/IndexStyleSheet.css" asp-append-version="true" />

<div class="container">
    @{
        foreach(Product product in Model.products){

        }
    }
        </div>
