@page
@using Logic.Logic
@using Logic.Models
@model IndexModel
@{
    ViewData["Title"] = "Sneaker Wave";
}

@*
https://dl.dropboxusercontent.com/s/hc2vfc49wfe5lw0/Jordan1Pollen.jpg?raw=1

https://dl.dropboxusercontent.com/s/mkwgt893vi2qh2r/AIR%20JORDAN%201%20HIGH%20OG%20TRAVIS%20SCOTT.jpg?raw=1

*@
<link rel="stylesheet" href="~/css/IndexStyleSheet.css" asp-append-version="true" />

<div class="container">
    @{
        foreach(Product product in Model.products)
        {
            <div class="card">
                <a asp-page="/ProductInfo"><img src="@product.Image" /></a>
                <p class="product-name">@product.Name</p>
                <p class="product-price">€ @product.Price</p>

            </div>
        }
    }
</div>
