@page
@model Website.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/LoginStyleSheet.css" asp-append-version="true" />

<section class="container">
    <header>LOG IN</header>
    <form method="post">
        <div class="field">
            <label>Email</label>
            <input type="email" placeholder="Enter Email" required>
            <span></span>
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" placeholder="Enter Password" required>
            <span></span>
        </div>

        <span style="color: red">@Html.ValidationMessage("WrongCredentials")</span><br>
        <a asp-page="Index" class="login-link">I don't have an account</a>
        <button type="submit">Log in</button>
    </form>
</section>