@page
@model Website.Pages.ProductInfoModel
@{
    ViewData["Title"] = "Sneaker Wave";
}

<link rel="stylesheet" href="~/css/ProductInfoStyleSheet.css" asp-append-version="true" />


<h1>
    Hello
</h1>
