@page
@model Website.Pages.ProductInfoModel
@{
}
<link rel="stylesheet" href="~/css/ProductInfoStyleSheet.css" asp-append-version="true" />






<form method="post" class="container">
    <div class="product-container">
        <div class="image-container">
            <img src="@Model.product.Image">
        </div>
        <div class="data-container">
            <h2>@Model.product.Name</h2>
            <h3>€ @Model.product.Price</h3>

            @*Sizes drop down menu *@
            <label for="shoe-sizes" class="size-label">Available EU sizes:</label>
            <select id="shoe-sizes" name="shoe-sizes" class="sizes-dropdown">
                <option value="39">39</option>
                <option value="39.5">39.5</option>
                <option value="40">40</option>
                <option value="40.5">40.5</option>
                <option value="41">41</option>
                <option value="41.5">41.5</option>
                <option value="42">42</option>
                <option value="42.5">42.5</option>
                <option value="43">43</option>
                <option value="43.5">43.5</option>
                <option value="44">44</option>
                <option value="44.5">44.5</option>
                <option value="45">45</option>
                <option value="45.5">45.5</option>
                <option value="46">46</option>
                <option value="46.5">46.5</option>
                <option value="47">47</option>
                <option value="47.5">47.5</option>
                <option value="48">48</option>
            </select>

            <label class="quantity-input-label">Select Quantity:</label>
            <input type="number" id="quantity" name="quantity">

            <button type="submit" class="buy-button">
                Buy now
            </button>

        </div>
    </div>
</form>
