@page
@model Website.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/ProfileStyleSheet.css" asp-append-version="true" />


<div class="page-content">
    <div class="page-content-left">
        <ul class="customer-menu">
            <li class="customer-menu-item"><a>My Account</a></li>
            <li class="customer-menu-item"><a asp-page="OrderHistory">Order History</a></li>
            <li class="customer-menu-item"><a>Bonus Card</a></li>
            <li class="customer-menu-item"><a>Update Address</a></li>
            <li class="customer-menu-item">
                <form method="post">
                    <input type="submit" value="Log out" asp-page-handler="LogOut" />
                </form>
            </li>
        </ul>
    </div>
    <div class="page-content-right">
        <div class="item-2">
            <h2>MY ACCOUNT</h2>
        </div>
        <div class="item-3">3</div>
    <div/>  
    </div>
</div>