@page
@model Website.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<h1>This is your profile</h1>
<br>
<br>
<br>
<br>
<br>
<form method="post">
    <input type="submit" value="Log out" asp-page-handler="LogOut" />
</form>