@page
@model Website.Pages.RegisterModel
@{

}

<link rel="stylesheet" href="~/css/RegisterStyleSheet.css" asp-append-version="true" />

<section class="container">
    <header>REGISTER</header>

    <form method="post" class="form">
        
        <div class="field">
            <label asp-for="customer.firstName">First Name</label>
            <span asp-validation-for="customer.firstName"></span>
            <input type="text" placeholder="First Name" asp-for="customer.firstName" required>            
        </div>
        <div class="field">
            <label asp-for="customer.lastName">Last Name</label>
            <span asp-validation-for="customer.lastName"></span>
            <input type="text" placeholder="Last Name" asp-for="customer.lastName" required>            
        </div>
        <div class="field">
            <label asp-for="customer.email">Email</label>
            <span asp-validation-for="customer.email"></span>
            <input type="email" placeholder="Email" asp-for="customer.email" required>            
        </div>
        <div class="field">
            <label asp-for="customer.password">Password</label>
            <span asp-validation-for="customer.password"></span>            
            <input type="password" placeholder="Password" asp-for="customer.password" required>            
        </div>
        <div class="field">
            <span asp-validation-for="customer.email" class="error-message" >@Model.errorMessage</span>
        </div>
        <input type="hidden" asp-for="customer.phone" value="000" />
        <input type="hidden" asp-for="customer.salt" value="000" />


        <div class="field">
            <button type="submit">Sign up</button>
        </div> 
        <div class="field">
            <a asp-page="Login" class="go-to-login",>Already have an account</a>
        </div>               
    </form>
</section> 

@section Scripts {
    <   partial name="_ValidationScriptsPartial" />
}